<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='boardstyle.css') }}">
    
    <title>Test Game Web</title>

  </head>
  <body>
    <h1> End Game </h1>
    <p> You {{message}} </p>
    {%for box in board%}
      {% if box == 0 %}
        <button name="box">__</button>
      {%elif box == 1%}
        <button name="box">X</button>
      {%elif box == 2%}
        <button name="box">O</button>
      {% endif %}
    {%endfor%}
    </form>
  </body>
</html>
